{% extends 'base.html' %}
{% load static %}
{% block contact %}

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <div class="logo">
            <a href="{% url 'index' %}">Local Service</a>
          </div>
        </header>


        <!-- Contact Form -->
        <section class="contact-form">
          <div class="container-fluid">
            <h1>LOGIN</h1>
            <br>
            <div class="row">
              <div class="col-md-6">
                <form id="contact" action="{% url 'loginuser' %}" method="POST">
                  {% csrf_token %}
                  <div class="row">

                    <div class="col-md-12">
                      <fieldset>
                        <select name="role" id="registration" class="form-control">
                          <option>--Select Role--</option>
                          <option>Customer</option>
                          <option>Service_Provider</option>
                        </select>
                      </fieldset>
                    </div><br><br><br>

                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="text" class="form-control" id="email" placeholder="email..."
                          required="">
                      </fieldset>
                    </div>
                   <div class="col-md-12">
                      <fieldset>
                        <input name="password" type="password" class="form-control" id="password"
                          placeholder="password..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <p><a href="#">Forgot password?</a></p>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit">login</button>
                      </fieldset>
                    </div><br><br>
                    <div class="col-md-12">
                        <p>Not Register? <a href="{% url 'register' %}">Create an account</a></p>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </section>

      </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

      <div class="inner">

        <!-- Menu -->
        <nav id="menu">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'registerpage' %}">Register</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
          </ul>
        </nav>

        <!-- Featured Posts -->
        <div class="featured-posts">
          <div class="heading">
            <h2>Featured Posts</h2>
          </div>
          <div class="owl-carousel owl-theme">
            <a href="#">
              <div class="featured-item">
                <img src="{% static 'assets/img/home2.jpg' %}" alt="featured one">
                <p></p>
              </div>
            </a>
          </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
          <p class="copyright">Copyright &copy; 2022 AK
            <br>Designed by <a rel="nofollow" href="https://www.facebook.com">Kavya Jobanputra</a>
          </p>
        </footer>

      </div>
    </div>

  </div>

</body>

{% endblock contact %}