{% extends 'base.html' %}
{% load static %}
{% block contact %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="{% url 'index' %}">Local Service</a>
                    </div>
                </header>


                <!-- Contact Form -->
                <section class="contact-form">
                    <div class="container-fluid">
                        <h1>update your profile</h1>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <form id="contact" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">Name</label>
                                                <input name="name" type="text" class="form-control" id="name" required="" value="{{serviceprovider.name}}">
                                            </fieldset>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">Email</label>
                                                <input name="email" type="text" class="form-control" id="email" required="" value="{{user.email}}">
                                            </fieldset>
                                        </div>

                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">Phone number</label>
                                                <input name="phone" type="text" class="form-control" id="number" required="" value="{{user.phone}}">
                                            </fieldset>
                                        </div>

                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">Address</label>
                                                <input name="address" type="text" class="form-control" id="address" required="" value="{{serviceprovider.address}}">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">City</label>
                                                <input name="city" type="text" class="form-control" id="city" required="" value="{{serviceprovider.city}}">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">State</label>
                                                <input name="state" type="text" class="form-control" id="state"required="" value="{{serviceprovider.state}}">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">PIN code</label>
                                                <input name="pincode" type="text" class="form-control" id="pin" required="" value="{{serviceprovider.pincode}}">
                                            </fieldset>
                                        </div>

                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="">Profile pic</label>
                                                <input name="pic" type="file" class="form-control" id="pic" required="" value="">
                                            </fieldset>
                                        </div>

                                        <div class="col-md-12">
                                            <fieldset>
                                                <button type="submit">Update</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

                
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <div class="inner">

                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li>
                            <span class="opener">{{request.session.name}}</span>
                            <ul>
                              <li><a href="{% url 'profile' pk=request.session.id %}">PROFILE</a></li>
                              <li><a href="{% url 'index' %}">LOGOUT</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'registerpage' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">LOGIN</a></li>
                    </ul>
                </nav>

                <!-- Featured Posts -->
                <div class="featured-posts">
                    <div class="heading">
                        <h2>Featured Posts</h2>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <a href="#">
                            <div class="featured-item">
                                <img src="{% static 'assets/img/home2.jpg' %}" alt="featured one">
                                <p></p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">Copyright &copy; 2022 AK
                        <br>Designed by <a rel="nofollow" href="https://www.facebook.com">Kavya Jobanputra</a>
                    </p>
                </footer>

            </div>
        </div>

    </div>
</body>

{% endblock contact %}